derby.log
metastore_db/
.DS_Store/
*~
.~*
.idea/
.bsp/
.scala/
nohup.out
*.swp
*.iml
target/
plot*.html
test*.log
*.tmp
**/null/
null/
crimes.csv
crimes.csv.gz
project/target/
.metals/

tmp-*.gif
tmp-*.png
scripts/plotting/*.png

hs_err_pid*

**/elastic-data/
scripts/data.csv
kibana/
*.tar.gz

**/kafka/**/*.p12
**/kafka/**/*.pem
**/kafka/**/*.jks
**/kafka/**/*.crt
**/kafka/**/users-management/*-connect.properties
**/kafka/**/zookeeper.properties
**/kafka/**/kafka-server*.properties
**/kafka/**/*cert-file
**/kafka/**/*cert-signed
**/kafka/**/root.key
**/kafka/**/root.srl
**/kafka/mimirsbrunn/current
.srl

elk-trustore
lib/
build/